<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="Parent" value="Animals"/>
		<add key="Child" value="AnimalCare"/>
		<add key="foreignKey" value="AnimalId"/>
	</appSettings>
</configuration>